
@{
    Layout = "~/Views/Info/_Layoutfenye.cshtml";
}

<!-- 内容头部 /-->
<!-- 正文区域 -->
@section styles{
    <style>
        #loading {
            display: none;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            filter: alpha(opacity=40);
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2000;
        }
    </style>
    <link href="~/JS/paging.css" rel="stylesheet" />
    <link href="~/JS/bootstrap.css" rel="stylesheet" />
}
<section class="content">
    @*<div id="loading">
            <img src="~/img/loadingimg/loading3.gif" style="margin-left: 40%; margin-top: 100px; width: 350px; height: 350px;" />
        </div>*@
    <div class="">
        <div class="box-body">
            <div class="pull-left">
                @*<div class="form-group form-inline">
                        <div class="btn-group">
                            <a href="AddUser.aspx" class="btn btn-default" target="_self">添加用户</a><br />
                        </div>
                    </div>*@
            </div>
            <div class="box-tools pull-right" style="margin-bottom: 17px;">
                <div class="has-feedback">
                    <ul>
                        @*<li><label>标签类型：</label><input type="text" id="TextBox_Account" class="form-control input-sm searchInput" /></li>
                            <li>
                                <label>方向：</label> <select id="DropDownList_Roles" class="form-control input-sm searchInput">
                                    <option value="-1">请选择</option>
                                </select>
                            </li>*@
                        <li><input type="button" value="查询" data-toggle="modal" data-target="#editModal" class="btn btn-default" /></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <table id="ListTb" class="table table-bordered">
                    <tr>
                        @*<th>标签编号</th>*@
                        <th>编号</th>
                        <th>姓名</th>
                        <th>密码</th>
                        <th>性别</th>
                        <th>加入时间</th>
                        <th>身份</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                </table>
                <div class="pagebox" style="height:30px;" id="box"></div>
                <script id="dataList" type="text/x-jquery-tmpl">
                    {{each  Data}}
                    <tr>
                        <td>${UserId}</td>
                        <td>${UserName}</td>
                        <td>${UserPwd}</td>
                        <td>${Usersex==0?"男":"女"}</td>
                        <td>${Usertime}</td>
                        <td>${Rolename}</td>
                        <td>${Useraddress}</td>
                        <td><a href="#" class="tagDelete" tid="${UserId}">编辑</a></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/JS/jquery.tmpl.js"></script>
    <script src="~/JS/paging.js"></script>
    <script type="text/javascript" charset="utf-8">
        var _ = {
            MasterData: {},
            options: {
                "url": "/Info/QueryPageData",
                "data": { "PageIndex": 0, "PageSize": 5 },
                "type": "post",
                "datatype": "json",
            },
            render: function (data) {
                $("#ListTb tr:gt(0)").remove();
                $("#dataList").tmpl(data).appendTo('#ListTb');
            },
            getQueryString: function (name) {
                var reg = new RegExp('(?:(?:&|\\?)' + name + '=([^&]*))|(?:/' + name + '/([^/]*))', 'i');
                var r = window.location.href.match(reg);
                if (r != null)
                    return decodeURI(r[1] || r[2]);
                return null;
            },
            ajaxData: function (options, callback) {
                $.ajax({
                    url: options.url,
                    data: options.data,
                    type: options.type,
                    dataType: options.dataType,
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    success: function (survey) {
                        callback(survey);
                    },
                    complete: function () {
                        $("#loading").hide();
                        $('.datetime').datepicker({
                            autoclose: true,
                            format: 'yyyy-mm-dd'
                        });
                    }
                })
            }
        };
        $(document).ready(function () {
            _.ajaxData(_.options, function (result) {
                _.render(result);
                var setTotalCount = result.Total;
                $('#box').paging({
                    initPageNo: 1, // 初始页码
                    totalPages: result.TotalPages, //总页数
                    totalCount: '合计' + setTotalCount + '条数据', // 条目总数
                    slideSpeed: 600, // 缓动速度。单位毫秒
                    jump: true, //是否支持跳转
                    callback: function (page) {
                        //回调函数
                        //alert(page);
                        _.options.data.PageIndex = page;
                        _.ajaxData(_.options, function (result) {
                            _.render(result);
                        });
                    }
                })
            });
        })
    </script>
}


