
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<form action="/File/file" method="post" enctype="multipart/form-data">
    <input id="File1" type="file" />
    <input type="submit" value="上传文件" />
</form>


